*.log
# idea data
.vscode/
.jshintrc
# tempates with confidential data
sig*
tor*

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
package-lock.json
# tests
coverage/


